.api-sandbox-options {
	width: 100%;
}

.api-sandbox-label {
	text-align: right;
	width: 12em;
	vertical-align: top;
}

.api-sandbox-result-label {
	width: 12em;
}

.api-sandbox-value {
	width: 18em;
	vertical-align: top;
	overflow: auto;
}

.api-sandbox-result-container {
	width: 100%;
}

#api-sandbox-input {
	width: 17em;
}

#api-sandbox-url,
#api-sandbox-post {
	width: 100%;
}

/* override enwiki's insane styles */
div.mw-collapsible {
	border: none !important;
	text-align: left !important;
	font-size: 100% !important;
}
